@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">!!! Welcome to Schwarzer Ritter Team !!!</h1>
    <h3><b>Now!!!</b> <a target="_blank" href="https://www.facebook.com/profile.php?id=100086916945321">Click here and visit to ours page</a>.</h3>
</div>
