@model QL_LKMT.Models.Thuonghieu

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Thuonghieu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdThuonghieu" />
            <div class="form-group">
                <label asp-for="IdNhom" class="control-label"></label>
                <select asp-for="IdNhom" class="form-control" asp-items="ViewBag.IdNhom"></select>
                <span asp-validation-for="IdNhom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tenthuonghieu" class="control-label"></label>
                <input asp-for="Tenthuonghieu" class="form-control" />
                <span asp-validation-for="Tenthuonghieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaytao" class="control-label"></label>
                <input asp-for="Ngaytao" class="form-control" />
                <span asp-validation-for="Ngaytao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ngaycapnhat" class="control-label"></label>
                <input asp-for="Ngaycapnhat" class="form-control" />
                <span asp-validation-for="Ngaycapnhat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
